# Graded Challenge 3
## Introduction
- Name: Izzan Dienurrahman
- Batch: HCK-003

## Objective
- Membuat model inference

## Problem Statements
- Membuat atau meload data inference
- Meload model yang telah di save sebelumnya
- Melakukan inference pada data baru

# Import Library

In [31]:
# import library yang dibutuhkan
import pandas as pd
import numpy  as np
import joblib

# Load Model

In [32]:
# load model, encoder, scaler, dan selected features
with open('rf_randcv.pkl','rb') as file_1:
    rf_randcv = joblib.load(file_1)

with open('ada_randcv.pkl','rb') as file_2:
    ada_randcv = joblib.load(file_2)

with open('gbc_randcv.pkl','rb') as file_3:
    gbc_randcv = joblib.load(file_3)

# Data Loading
## Construct Data Infer

In [33]:
# semua fitur/kolom
features = ['age','anaemia','creatinine_phosphokinase','diabetes','ejection_fraction',\
    'high_blood_pressure','platelets','serum_creatinine','serum_sodium','sex','smoking','time']

np.random.randint(0,9,size=10)
np.random.choice(np.arange(10000,1000000,10000),size=10)

# artificial data infer
age                         = np.random.randint(0,100,size=10)                 
anaemia                     = np.random.randint(0,2,size=10)
creatinine_phosphokinase    = np.random.randint(0,10000,size=10)
diabetes                    = np.random.randint(0,2,size=10)
ejection_fraction           = np.random.randint(0,100,size=10)
high_blood_pressure         = np.random.randint(0,2,size=10)
platelets                   = np.random.randint(2e4,1e6,size=10)
serum_creatinine            = np.random.randint(0.0,1.0,size=10)
serum_sodium                = np.random.randint(100,150,size=10)
sex                         = np.random.randint(0,2,size=10)
smoking                     = np.random.randint(0,2,size=10)
time                        = np.random.randint(1,300,size=10)
   

D = {
    'age':age,
    'anaemia':anaemia,                    
    'creatinine_phosphokinase':creatinine_phosphokinase,
    'diabetes':diabetes,                    
    'ejection_fraction':ejection_fraction,           
    'high_blood_pressure':high_blood_pressure,         
    'platelets':platelets,                   
    'serum_creatinine':serum_creatinine,            
    'serum_sodium':serum_sodium,                
    'sex':sex,                         
    'smoking':smoking,                     
    'time':time,  
    }
data_infer = pd.DataFrame(data=D,columns=features)

In [34]:
data_infer.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,26,1,5168,1,16,1,173550,0,101,1,0,53
1,31,1,9045,0,71,1,833755,0,131,1,0,139
2,70,1,9052,1,87,0,160352,0,129,0,0,189
3,68,1,6039,0,85,1,21426,0,112,0,0,244
4,13,1,7447,1,44,1,968725,0,126,0,1,241

# Model Inference

In [35]:
# predict result random forest model
pred_rf = rf_randcv.predict(data_infer)

# predict result adaboost model
pred_ada = ada_randcv.predict(data_infer)

# predict result gradientboost model
pred_gbc = gbc_randcv.predict(data_infer)

In [36]:
# show data infer + prediction
data_infer['pred_target_rf'] = pred_rf
data_infer['pred_target_ada'] = pred_ada
data_infer['pred_target_gbc'] = pred_gbc
data_infer

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,pred_target_rf,pred_target_ada,pred_target_gbc
0,26,1,5168,1,16,1,173550,0,101,1,0,53,1,1,1
1,31,1,9045,0,71,1,833755,0,131,1,0,139,0,0,0
2,70,1,9052,1,87,0,160352,0,129,0,0,189,0,0,0
3,68,1,6039,0,85,1,21426,0,112,0,0,244,0,0,0
4,13,1,7447,1,44,1,968725,0,126,0,1,241,0,0,0
5,12,0,4791,1,72,1,942546,0,139,1,0,264,0,0,0
6,43,1,7,1,54,1,550150,0,136,1,1,63,1,0,1
7,74,1,3041,0,85,0,234946,0,143,1,0,51,1,1,1
8,2,0,9882,0,23,0,87010,0,124,1,0,23,1,1,1
9,96,1,9930,1,30,1,35145,0,102,0,0,294,0,0,0