# Milestone 2
## Introduction
- Name: Izzan Dienurrahman
- Batch: HCK-003

## Objective
- Membuat model inference

## Problem Statements
- Membuat atau meload data inference
- Meload model yang telah di save sebelumnya
- Melakukan inference pada data baru

# Import Library

In [33]:
# import library yang dibutuhkan
import pandas as pd
import numpy  as np
import joblib
import warnings
warnings.filterwarnings("ignore", category=UserWarning)

# Load Model

In [34]:
# load model, encoder, scaler, dan selected features
with open('catb_randcv.pkl','rb') as file_1:
    catb_randcv = joblib.load(file_1)

# Data Loading

In [35]:
data_infer = pd.read_csv('infer.csv')

In [36]:
data_infer.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,Male,Loyal Customer,44,Business travel,Business,3306,2,2,2,2,...,4,4,4,4,4,3,4,5,0,0.0
1,Female,Loyal Customer,30,Business travel,Business,2979,2,4,4,4,...,2,2,4,1,4,1,4,2,0,0.0
2,Male,Loyal Customer,40,Business travel,Business,449,2,2,2,2,...,5,4,4,4,4,5,4,4,1,16.0
3,Female,Loyal Customer,50,Business travel,Business,1090,3,3,3,3,...,5,4,4,4,4,5,4,3,109,97.0
4,Male,Loyal Customer,58,Business travel,Business,2116,2,2,2,2,...,4,4,4,4,5,3,4,4,97,73.0

# Model Inference

In [37]:
# predict result with catboost
pred_catboost = catb_randcv.predict(data_infer)

In [38]:
# show data infer + prediction
data_infer['pred_target_catb'] = pred_catboost
data_infer

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,pred_target_catb
0,Male,Loyal Customer,44,Business travel,Business,3306,2,2,2,2,...,4,4,4,4,3,4,5,0,0.0,satisfied
1,Female,Loyal Customer,30,Business travel,Business,2979,2,4,4,4,...,2,4,1,4,1,4,2,0,0.0,neutral or dissatisfied
2,Male,Loyal Customer,40,Business travel,Business,449,2,2,2,2,...,4,4,4,4,5,4,4,1,16.0,satisfied
3,Female,Loyal Customer,50,Business travel,Business,1090,3,3,3,3,...,4,4,4,4,5,4,3,109,97.0,satisfied
4,Male,Loyal Customer,58,Business travel,Business,2116,2,2,2,2,...,4,4,4,5,3,4,4,97,73.0,satisfied
5,Male,disloyal Customer,41,Business travel,Business,402,5,5,5,3,...,2,3,4,4,5,4,2,76,95.0,satisfied
6,Male,disloyal Customer,29,Business travel,Eco,1048,2,3,3,4,...,5,4,5,3,4,3,5,0,11.0,neutral or dissatisfied
7,Male,Loyal Customer,49,Business travel,Eco,125,2,4,4,4,...,2,1,4,3,2,4,2,0,0.0,neutral or dissatisfied
8,Female,Loyal Customer,56,Business travel,Eco,1189,4,1,5,1,...,4,4,4,4,4,4,1,92,92.0,satisfied
9,Male,Loyal Customer,31,Business travel,Eco,2599,0,0,0,5,...,3,5,1,5,2,5,3,0,0.0,satisfied