# Plant Nutrition Prediction
## Introduction
- Name: `Izzan Dienurrahman`
- Batch: HCK-003

## Objective
- Create model inference for plant nutrition prediction

## Problem Statements
- Information related to plant growth conditions.
- Prediction of the nutritional requirements of the plant.
- To develop an accurate and reliable model that can be used to optimize plant nutrition and improve crop yields

# Import Library

In [1]:
# import library yang dibutuhkan
import pandas as pd
import numpy  as np
import joblib

# Load Model

In [2]:
# load model along with it's pipeline
with open('deployment/gbr.pkl','rb') as file_1:
    gbr_model = joblib.load(file_1)

# Data Loading

In [3]:
# define random seed to make the results reproducible
np.random.seed(42)

# construct data inference
data =  {
        'v1':np.random.randint(150,700,size=10),
        'v2':np.random.randint(150,500,size=10),
        'v3':np.random.randint(300,750,size=10),
        'v4':np.random.randint(300,600,size=10),
        'v5':np.random.randint(350,750,size=10),
        'v6':np.random.randint(150,450,size=10),
        'v7':np.random.randint(550,900,size=10),
        'v8':np.random.randint(3500,6000,size=10),
        'sample_type':['lab 1','lab 2','lab 1','lab 2','lab 1','lab 2','lab 1','lab 2','lab 1','lab 2']
    }

In [4]:
# construct into pandas dataframe
data_infer = pd.DataFrame(data)

In [5]:
# show artifical data inference
data_infer

    v1   v2   v3   v4   v5   v6   v7    v8 sample_type
0  252  237  743  469  370  202  809  3955       lab 1
1  585  249  576  487  678  241  859  4775       lab 2
2  420  301  460  570  516  413  740  4516       lab 1
3  256  280  613  489  623  184  767  5843       lab 2
4  221  299  321  474  737  355  593  3837       lab 1
5  170  458  552  350  438  230  711  4378       lab 2
6  271  407  535  354  665  199  751  4576       lab 1
7  616  493  644  543  363  151  819  4291       lab 2
8  364  443  348  430  591  203  853  5764       lab 1
9  480  341  358  434  614  255  820  4263       lab 2

# Model Inference

In [6]:
# predict result with catboost
predictions = gbr_model.predict(data_infer)

In [7]:
# show data infer + prediction
data_infer['prediction_target_plant_nutrition'] = predictions
data_infer

,v1,v2,v3,v4,v5,v6,v7,v8,sample_type,prediction_target_plant_nutrition
0,252,237,743,469,370,202,809,3955,lab 1,4.687888
1,585,249,576,487,678,241,859,4775,lab 2,4.717328
2,420,301,460,570,516,413,740,4516,lab 1,4.676106
3,256,280,613,489,623,184,767,5843,lab 2,4.876506
4,221,299,321,474,737,355,593,3837,lab 1,4.721515
5,170,458,552,350,438,230,711,4378,lab 2,4.673554
6,271,407,535,354,665,199,751,4576,lab 1,4.866417
7,616,493,644,543,363,151,819,4291,lab 2,4.548373
8,364,443,348,430,591,203,853,5764,lab 1,4.722183
9,480,341,358,434,614,255,820,4263,lab 2,4.612382